@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideFade {
  0% {
    opacity: 0;
    transform: translateY(10px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-slideFade {
  animation: slideFade 0.35s ease-out;
}

.input-auth {
  @apply w-full bg-white text-luxe-black border border-luxe-gray-light px-3 py-2 rounded-md
         placeholder:text-luxe-gray-medium focus:ring-2 focus:ring-luxe-gold;
}

.btn-auth {
  @apply w-full bg-luxe-gold text-luxe-black py-3 rounded-full font-semibold hover:bg-luxe-gold-soft transition;
}
